AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS=

OPENLINEAGE_URL=
OPENLINEAGE_NAMESPACE=
OPENLINEAGE_ENDPOINT=

JDB_URL=
JDB_USER=
JDB_PASSWORD=
JDB_DRIVER=org.postgresql.Driver

INPUT_PATH=
PROCESSED_PATH=