AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-openlineage

# OpenLineage — Airflow side (new)
AIRFLOW__OPENLINEAGE__TRANSPORT=
AIRFLOW__OPENLINEAGE__NAMESPACE=medallion-pipeline-airflow

OPENLINEAGE_URL=
OPENLINEAGE_NAMESPACE=
OPENLINEAGE_ENDPOINT=

JDB_URL=
JDB_USER=
JDB_PASSWORD=
JDB_DRIVER=org.postgresql.Driver

INPUT_PATH=
PROCESSED_PATH=